body {
    margin: 0px;
    padding: 0px;
}
.container {
    overflow: hidden;
    justify-content: right;
    display: flex;
    font-size: small;
}
.text-box {
    float: left;
    margin-right: 10px;
    display: flex;
}
img {
    height: 30px;
    width: 30px;
    display: flex;
}
.bbody {
    text-align: center;
    font-size: 65px;
    padding-top: 115px;
    padding-bottom: 0%;
    
}
.cima {
    text-align: center;
    font-size: larger;
    
}
.widgets {
    overflow: hidden;
    justify-content: center;
    display: flex;
    padding: 55px;
}

